html {
  scroll-behavior: smooth;
}

header {
  text-align: center;
  background-color: #5D537F;
  color: #FFF;
  position: fixed;
  top: 0;
  z-index: 1020;
  overflow-x: hidden;
  width: 100%;
}

a.no-style,
a.no-style:hover,
a.no-style:active,
a.no-style:focus {
  color: inherit;
  text-decoration: none;
}

.anchor-link-ref {
  position: relative;
  top: calc((90px + 1.75rem + 5px) * -1); /* height of .page-title + .navbar */
}

@media (max-width: 991.98px) {
  .anchor-link-ref {
    top: -90px; /* height of .page-title */
  }
}

.page-title {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  line-height: 2rem;
  height: 90px;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .page-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 575.98px) {
  .page-title {
    font-size: 1rem;
  }
}

.navbar {
  font-size: 1rem;
  line-height: 1.75em;
  padding-top: 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid #4A4A4A;
}

@media (max-width: 991.98px) {
  .navbar {
    padding: 0;
  }
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 22px;
  line-height: 1.25em;
  color: #4A4A4A;
}

.h1, h1 {
  font-size: 2.9rem;
}

.h2, h2 {
  font-size: 1.5rem;
}

/* Adjust font sizes on smaller devices */
@media (max-width: 767.98px) { 
  body {
    font-size: 16px;
  }

  .h1, h1 {
    font-size: 2rem;
  }
}

.content-container::before {
  display: block;
  content: "";
  height: 90px;
  visibility: hidden;
  pointer-events: none;
}

/* The div inside the section */
.section-container {
  margin: 1em 0.5em;
}

@media (min-width: 992px) {
  .section-container {
    margin: 15px 30px;
  }

  .home-section .section-container {
    margin: 3.25em 1em;
  }

  .section-container {
    margin-top: 1.5em;
  }
}

.row-stretch-height {
  min-height: 100%;
}

.btn-custom {
  color: #fff;
  background-color: #5D537F;
  border-color: #5D537F;
  border-radius: 0;
  padding-left: 60px;
  padding-right: 60px;
}

.dark .btn-custom {
  background-color: #4A90E2;
}

.half-page-height {
  height: calc((100vh - ( 90px + 0px + 1.75rem + 5px ) + 4px) / 2);
}

@media (max-width: 991.98px) {
  .half-page-height {
    height: calc((100vh - ( 90px ) + 4px) / 2);
  }
}

.full-page-height {
  height: calc(100vh - ( 90px + 0px + 1.75rem + 5px ) + 4px);
}

@media (max-width: 991.98px) {
  .full-page-height {
    height: calc(100vh - ( 90px ) + 4px);
  }
}

section {
  display: flex;
  min-height: calc(100vh - 45px);
  overflow-x: hidden;
  overflow-y: hidden;
  border-bottom: 1px solid #5D537F;
}

@media (min-width: 992px) {
  section > div {
    flex: 0 0 50%;
  }
}


section .left-column {
  border-right: 1px solid #5D537F;
}

section.vertical-section {
  flex-direction: column;
}

@media (max-width: 991.98px) {
  section {
    flex-direction: column;
    min-height: unset;
  }
}

.img-container, .img-container-h, .img-container-v {
  text-align: center;
}

.img-container img, .img-container-h img, .img-container-v img {
  max-height: calc(100vh - ( 90px + 0px + 1.75rem + 5px ) + 4px);
}

@media (max-width: 991.98px) {
  .img-container img, .img-container-h img, .img-container-v img {
    max-height: calc(100vh - ( 90px ) + 4px);
  }
}

.img-rachael {
  background-image: url('img/rachael.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img-rachael-sm {
  background-image: url('img/rachael-16-9.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding-top: 56.25%;
}

.col.img-container-filled {
  margin-left: -15px;
  padding-left: 30px;
  padding-right: 0;
  overflow: hidden;
}

.img-container, .img-container-h, .img-container-v {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 991.98px) {
  .img-container, .img-container-h, .img-container-v {
    height: 200px;
  }
}

.img-container-h {
  width: 100%;
  min-height: 100%;
}

.img-container-v {
  display: block;
  min-height: 100%;
}

.img-container-shoulder {
  background-image: url("img/jesper-aggergaard-495757-unsplash.jpg");
}

.img-container-room {
  background-image: url("img/room.jpg");
}

.img-container-press {
  background-image: url("img/massage-2722936_1920.jpg");
}

.row-full-height {
  min-height: calc(100vh - ( 90px + 0px + 1.75rem + 5px ) + 4px);
}

.col-left {
  border-right: 1px solid #5D537F;
}

.dark {
  font-size: 0.9em;
  background-color: #5D537F;
  color: #FFF;
}

th, td {
  padding: 5px 30px 5px 5px;
}

.info-panel {
  background-color: #7D7596;
  color: #FFF;
  border-radius: 5px;
  padding: 1.125em;
  font-size: 1.125rem;
  margin: 1.11em 0;
}

.info-panel .title-row {
  display: flex;
  margin-bottom: 0.8em;
  align-items: center;
  font-size: 1.5rem;
}

.info-panel a {
  color: unset;
}

@media (max-width: 991.98px) {
  .section-container.treatment {
    font-size: 0.9em;
  }

  .info-panel {
    padding: 0.8em;
    font-size: 0.8rem;
    margin: 1.11em 0;
  }

  .info-panel .title-row {
    font-size: 1.4rem;
  }

  .contact-info-panel {
    font-size: 0.9rem;
  }
}

@media (max-width: 575.98px) {
  .long-text {
    font-size: 0.9em;
  }
}

.embed-responsive-fill {
  height: 100%;
  margin: 0 -15px;
  width: calc(100% + 15px);
}

@media (max-width: 991.98px) {
  .embed-responsive-fill {
    height: calc((100vh - ( 90px ) + 4px) / 2);
    width: calc(100% - 30px);
    margin: 15px;
  }
}

.footnote {
  font-size: 0.75em;
}

.contact-row, .contact-row-start, .contact-row-end {
  margin: 20px 5px;
  word-wrap: break-word;
}

.contact-row-start {
  margin-top: 15px;
}

.contact-row-end {
  margin-bottom: 0px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5D537F;
  color: #FFF;
  height: 50px;
  font-size: 1rem;
}

.footer a {
  color: inherit;
}

.font-weight-medium {
  font-weight: 500;
}

.logos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 1.75em
}

.logos img {
  max-height: 130px;
  max-width: calc(100% - 4em);
  margin: 0 2em;
}
.question-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 35 35' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Ccircle fill='%2330789F' fill-rule='nonzero' cx='17.5' cy='17.5' r='17.5'/%3E%3Cpath d='M15.254 23.331h3.784V27h-3.784v-3.669zm-4.633-9.14c.101-2.413.943-4.122 2.526-5.13.999-.643 2.226-.964 3.682-.964 1.912 0 3.501.457 4.767 1.37 1.265.915 1.898 2.269 1.898 4.063 0 1.1-.275 2.027-.826 2.78-.321.458-.939 1.042-1.853 1.753l-.901.698c-.491.38-.817.825-.978 1.333-.102.321-.157.82-.165 1.498h-3.428c.051-1.43.186-2.419.407-2.965.22-.545.787-1.174 1.7-1.885l.927-.723c.305-.229.55-.479.737-.75.338-.465.508-.977.508-1.536 0-.643-.189-1.229-.565-1.758-.377-.529-1.065-.793-2.063-.793-.982 0-1.678.325-2.089.977-.41.652-.615 1.329-.615 2.031h-3.67z' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 1.25em;
  width: 1.25em;
  display: inline-block;
  margin-right: 15px;
}

.location-section {
  min-height: calc(100vh - ( 90px + 0px + 1.75rem + 5px ) + 4px);
}

/* Animation - Fade in elements on scroll */
@keyframes fadeInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fade-in-up {
  animation: 0.75s both fadeInUp;
}
